@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Disk Inventory Support System</h1>
    <p>Inventory management software for music enthusiasts.</p>
    <h3>Admin</h3>
    <div class="list-group">
        <a asp-controller="Borrower" asp-action="Index" class="list-group-item">Manage Borrowers</a>
        <a asp-controller="Disk" asp-action="Index" class="list-group-item">Manage Disks</a>
        <a asp-controller="DiskHasBorrower" asp-action="Index" class="list-group-item">Manage Checkout</a>
    </div>
</div>
